.home-page{
  background-image: url(../../assets/fondo_suelo_wood.jpg.webp);
  background-size: cover;
  height: 100%;
  width: 100%;
}

// .home-page__img{

//   position: relative;
//   z-index: -1;
// }
