
.home_page{
  border: 2px solid green ;
  background-color: #6DB5E5;
  height: 100rem;
  width: 100rem;

}
.principal{
height:250px
}

@media(max-width: 768px){
  .home_page{
    height: 100%;

  }
  .principal{
    height: 200px;
  }
}
