.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15rem;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: #234C8D;
  list-style-type: none;
  z-index: 1;
  animation: slideDown 2s ease-out forwards;
  
  .navbar_link{
    background-color: #234C8D;
    color: white;
  }
  
  .navbar_img{
    position: relative;
    right: 40px;
    background-color: #234C8D;
    img{
      height: 45px;
      width: 155px;
    }
  }
}

@keyframes slideDown { // animation
  0% {
    position: relative;
    top: -10000px;
  }

  50%{
    position: fixed;
    top: 0;
  }

  75%{
    position: fixed;
    top: 0;
  }

  100% {
    position: fixed;
    top: 0;
  }
}
