.carousel{
    width: 100%;
    overflow: hidden;// Para que todo lo que salga de la pantalla en nuestra animacion se oculte.

  .carousel__list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 300%;// por que hay tres elementos en este div
    list-style-type: none;

    transition: all 12s ease;// Tiempo de duracion  y tipo de movimiento  en la animacion que hems fija  en el traslate
    transform: translateX(0%);// Punto  del  eje X donde empieza y se  fija la  animacion,  en este  caso en la primera imagen
    animation: slide 12s infinite ease-in-out;// Animación, los seg tienen que estar coordinados con los de transition para no da  errores  en la  animacion 

    .carousel__item1-list{
      width: calc(100%/3);// por que queremos que  cada elemento ocupe  el 100% del espacio en nuestra animación

      .carousel__img1-list{
        height: 500px;
        width: 100%;
        box-sizing: border-box;
        object-fit: cover;
        }
    }

    .carousel__item2-list{
      width: calc(100%/3);

      .carousel__img2-list{
        height: 500px;
        width: 100%;
        box-sizing: border-box;
        object-fit: cover;
        }
    }

    .carousel__item3-list{
      width: calc(100%/3);

      .carousel__img3-list{
        height: 500px;
        width: 100%;
        box-sizing: border-box;
        object-fit: cover;
        }
    }
  }

  // .carousel__point{ estilos para los puntos
  //   width: 100%;
  //   padding: 1em;
  //   list-style-type: none;

  //   display: flex;
  //   flex-flow: row nowrap;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 1rem;

  //   position: relative;
  //   bottom: 3em;

  //   .carousel__point-size{
  //     width: .5em;
  //     height: .5em;
  //     background-color: grey;
  //     border-radius: 1rem;
  //   }
  // }

  @keyframes slide {// Hay que poner tresporcentages por  que jugamos con 3 elementos
    0%{margin-left: 0;}
    50%{margin-left: -100%;}
    100%{margin-left: -200%;}
  
  }
}

@media (max-width: 1500px) {
  .carousel{display: none;}
}
