*{
  margin: 0;
  padding: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.video{
  position: absolute;
  width: 100%;
  height: 100vh;
}

video{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* @keyframes show{
  from{
    opacity: 0;
    scale: 10%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
} */

.video_button{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0,.4);
  /* view-timeline-name: --logo;
  view-timeline-axis: initial;
  animation-timeline: --logo;
  animation-name: show; */
}

button{
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
}

img{
  width: 17vh;
  height: 15vh;
}

.video_button_text{
  color: white;
}

span{
  display: flex;
  flex-direction: column;
  color: white;
}

cursor{
  color: red;
}
