.corner{ // Link with the animation
  position: fixed;
  top: 0;
  left: 0;
  padding: 180px;
  z-index: 2;
  background-image: linear-gradient(135deg, rgb(0 0 0/50%) 45%, transparent 53%);
}

.animation-active-corner{
  animation: slideLeft 2s ease-out forwards;
}

.corner_img{ // Logo position
    position: relative;
    bottom: 150px;
    right: 150px;
    width: 100px;
    height: 90px;
    background-color: #234C8D;
}

.corner::before{ // Making div into triangle
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 455px solid  #234C8D;
  border-right: 460px solid transparent;
}

.corner::after { // White line 
  content: "";
  position: absolute;
  right: 250px;
  bottom: -100px;
  height: 700px; 
  background-color: transparent;
  border-left: 50px solid white;
  transform: rotate(45deg);
  z-index: 2; 
}


@keyframes slideLeft { // animation
  0% {
    position: relative;
    left: -10000px;
  }
  50%{
    position: fixed;
    top: 0;
    left: 0;
    padding: 180px;
  }
  100% {
    position: fixed;
    top: 0;
    left: 0;
    padding: 180px;
    
  }
}
